<footer class="main-footer">
    <div class="main-container">
        <div class="footer">
            <div class="footer1">
                <div class="footer2">
                    <h3>HISTORIA</h3>
                    <div>
                        <p class="whitee">
                            Revista Energía Andina - REA. Primera revista ayacuchana del sector energético minero fundada en la ciudad de Huamanga – Ayacucho. El equipo editorial de la revista está liderado por profesionales de las mejores universidades del Perú.
                        </p>
                    </div>
                </div>
                <div class="footer2">
                    <h3>ENERGIA ANDINA</h3>
                    <div>
                        <p class="whitee">
                            Energía Andina, revista nacional especializada en información y análisis del acontecer energético minero. La distribución es gratuita y personalizada a empresa mineras, petroleras, energéticas, instituciones y empresas proveedoras de bienes y servicios
                            del país.
                        </p>
                    </div>
                </div>
                <div class="footer2 ">
                    <h3>CONTACTO DIRECCION</h3>
                    <div>
                        <p class="whitee">
                            Nuestros medios impresos y digitales nos permiten contar con un mayor universo de lectores, convirtiéndonos en la plataforma multimedia especializada en negocios energéticos y mineros con mayor alcance en Perú y a nivel internacional.
                        </p>
                    </div>
                </div>
                <div class="footer2">
                    <h3>SUSCRIBETE</h3>
                    <div>
                        <p class="whitee">
                            UNICIO QUINES SOMOS EVENTOS ARTÍCULOS DIRECTORIO CONTÁCTENOS

                        </p>
                    </div>
                </div>
            </div>
            <div class="sociales">
                <div class="sociles1">
                    <div class="face"><a href="#"><i class="margin fab fa-facebook-f" aria-hidden="true"></i></a></div>
                    <div class="twiter"><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></div>
                    <div class="mail"><a href="#"><i class="gmail fas fa-envelope-square" aria-hidden="true"></i></a></div>
                    <div class="insta"><a href="#"><i class="inst fab fa-instagram" aria-hidden="true"></i></a></div>
                </div>
            </div>
            <p class="copi-rigth">Copyright © Revista Eneria Andina. todos los derchos reservados. <br> Design - Template</p>
        </div>
    </div>
</footer>