<div class="container my-5">
    <div class="row">
        <div class="col">
            <h3>Quienes Somos</h3>
            <p>Energía Andina nace con el objetivo de ser la mejor y principal fuente de información y análisis del acontecer energético y minero. Somos una revista relevante de la industria energética, difundiendo conocimiento a los profesionales del sector
                y a los stalkholders. Este sendero nos ha llevado a construir una amplia cobertura periodística, elaborando especiales sobre desarrollo de operaciones, proyectos energéticos mineros, exploraciones, gestión, seguridad, higiene y salud ocupacional,
                medio ambiente, tecnología, energía e hidrocarburos, maquinarias, proveedores, entre otros especiales técnicos – comerciales. Si estás interesado en ser parte de la energía y minería, participa y lee Energía Andina en todos sus formatos
                físicos y digitales.
            </p>
            <br>
            <hr>
            <br>
            <h4>VALORES AGREGADOS A TU MARCA:</h4>
            <br>
            <ul>
                <li>La mejor fuente de información para el sector energético minero</li>
                <li>Publicación trimestral</li>
                <li>2000 ejemplares por edición</li>
                <li>Distribución gratuita a lectores calificados </li>
                <li>Noticias nacionales e internacionales</li>
                <li>Artículos técnico-comerciales, tecnologías emergentes y casos de éxito.</li>
            </ul>
        </div>
    </div>
</div>